/**
 * ACF Hero Block Styles
 * Unified styling for both frontend and editor
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

@mixin editor {
    width: 100% !important;
    display: flex;
    justify-content: center;
    background-color: royalblue;
    .hero-block{
        background-color: rgb(132, 212, 34) !important;
        width: 100% !important;
        max-width: 1600px;
    }



}




// Frontend
.acf-hero-wrapper {
    @include editor();

}

// Backend / Editor

.wp-block-acf-acf-hero {
    .acf-block-body {
        .acf-block-preview {
            .acf-hero-wrapper {
                @include editor();
            }
        }

    }
}

